/* General Styles */
.navbar {
  padding: 1rem 2rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .logo {
  height: 50px;
  margin-right: 10px;
}

.brand-name {
  font-size: 3rem;
  font-weight: bold;
}

.jumbotron {
  position: relative;
}

h1, .lead {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.nav-item{
  padding-left: 4ch;
  font-family: 'Times New Roman', serif;
  font-size: 19px;
  
}

.nav-item .btn{
  background-color: #4d3214;
  color: white;
  width: 120px;
  border-radius: 5px;
}

.nav-item .btn :hover{
  background-color: #805728;
}

.nav-link{
  color: #4d3214;
}

.s1sttab{
  margin-left: 12ch;
}
/* Tablet and Mobile Adjustments */
@media (max-width: 992px) {

  .s1sttab{
    margin-left: 2ch;
  }

  .navbar-brand .logo {
    height: 40px;
  }

  .brand-name {
    font-size: 1rem;
  }

  .navbar-nav {
    text-align: center;
  }

  .jumbotron {
    height: 70vh; /* Adjust for smaller screens */
  }

  .display-4 {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-brand .logo {
    height: 30px;
  }

  .jumbotron {
    height: 60vh;
  }

  .display-4 {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 0.9rem;
  }

  .navbar-toggler{
    display: none;
  }
}



/* Footer */

.footer {
  background: url('../images/footerbg.png') no-repeat center center/cover;
   backdrop-filter: blur(2px);
   width: 100vw; /* Full viewport width */
   height: 100%; /* Full viewport height */
   background-size: cover; /* Ensures the image covers the entire container */
   background-attachment: fixed; /* Keeps the background fixed as the user scrolls */
   overflow: hidden; /* Ensures no scroll bars appear */
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .footer {
  height: 100%;
  }

  .about1st{
    margin-left: 3ch;
    margin-right: 3ch;
  }
}

.foottext h4{
 font-size: 25px;
 color: white;
 font-family: 'Playfair Display', serif;
 margin-bottom: 20px;
}
.foottext p{
 font-weight: 500;
 font-size: 16px;
 color: rgb(202, 196, 196);
 margin-top: -1ch;
}



.social-icons {
 display: flex; /* Flexbox to align icons in one line */
  /* Center the icons horizontally */
 gap: 15px; /* Add space between the icons */
}

.social-icons i {
 font-size: 20px; /* Adjust the size of the icons */
 color: rgb(255, 255, 255); /* Change the icon color */
 padding: 10px; /* Add padding inside the icons */
 background: rgba(189, 186, 186, 0.634); /* Semi-transparent white background */
 border: 1px solid rgba(148, 144, 144, 0.3); /* Light border */
 border-radius: 50%; /* Make the background circular */
}

.about1st{
  margin-left: 12ch;
  margin-right: 12ch;
}
